/* Mobile Devices */
@media  (min-width: 300px) {

  .signup figure{
width: 100%;
display: flex;
justify-content: center;
}

.signup img{
width: 50%;

}


  .signup{
background-color: aquamarine;
height:100%;
}

  
  .signup input[type="text"],
  .signup input[type="email"],
  .signup input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4p0x;
    box-sizing: border-box;
  }
  
  .signup button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkgray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

}

/* Tablets */
@media  (min-width: 700px
)  {
 
 .signup {
    background-color: aquamarine;
    height: 100%;
    
    }
    

    
      
    .signup  input[type="text"],
     .signup input[type="email"],
     .signup input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
     .signup button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: darkgray;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

    
    
    
    }
    
/* Desktops and Larger Screens */
@media (min-width: 1000px) {


  .signup figure{
    width: 100%;
    display: flex;
    justify-content: center;
    }

    .signup img{
      width: 50%;
      }
      
      

.signup{
    background-color: aquamarine;
    height: 100%;
    
    }


    .signup input[type="text"],
    .signup input[type="email"],
    .signup input[type="password"] {
      width: 90%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4p0x;
      box-sizing: border-box;
    }


    .signup  button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: darkgray;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
    }
    




