@media (min-width: 300px) {
    /* Header */
    .mainHeader {
        background-color: var(--mainColor);
        height: 7vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mainHeader > a {
        width: 120px;
    }
    .mainHeader > a > figure > img {
        width: 100%;
    }
    .mainHeader > .headerSection {
        display: flex;
        width: 40%;
        column-gap: 4vw;
        justify-content: flex-end;
    }
    .headerSection figure,
    .headerSection figure > a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerSection figure:hover {
        cursor: pointer;
    }
    .headerSection img {
        width: 24px;
    }
    .headerSection figcaption {
        display: none;
    }
    .headerSection > a{
        border-radius: 5px;
        padding: 3%;
        background-color: #f2f2f2;
        color: black;
    }
    .headerSection > a:hover {
        cursor: pointer;
        background-color: var(--hoverColor);        transition: .4s;
    }
    /* Nav */
    .mainNav {
        display: flex;
        justify-content: center;
        padding: 3% 5%;
    }
    .mainNav > ul {
        white-space: nowrap;
        overflow-x: auto;
        display: flex;
        width: 100%;
    }
    .mainNav li {
        padding: 3%;
    }
    .mainNav a:hover > p {
        color: var(--btnColor);
    }
    .mainNav img {
        width: 24px;
    }
    .mainNav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
    }
    .mainNav a > p {
        color: black;
        font-size: 13px;
    }
    /* Adv */
    .mainAdv {
        background-image: url("../../img/adv-delivery.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
    }
    .mainAdv > article {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
        background-color: rgba(50, 50, 50, 0.5);
        color: white;
    }
    .mainAdv > article > h3 {
        font-weight: 800;
        font-size: 25px;
        text-align: center;
    }
    /* Restaurant */
    .mainRestaurant {
        width: 90%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }
    .mainRestaurant > h3 {
        font-weight: 800;
        font-size: 20px;
    }
    .mainRestaurant figure:hover {
        cursor: pointer;
    }
    .mainRestaurant figure > img {
        width: 90vw;
        height: 50vw;
        border-radius: 10px;
    }
    .mainRestaurantArticle {
        display: flex;
        flex-wrap: wrap;
        gap: 6vw;
    }
    .mainRestaurantArticle figure {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }

    .mainRestaurantArticle figcaption {
        display: flex;
        flex-direction: column;
        row-gap: 0.5vh;
    }
    .mainRestaurantArticle h4 {
        font-weight: 700;
        font-size: 18px;
        color: black;
    }
    .mainRestaurantArticle ul {
        display: flex;
        column-gap: 2vw;
        align-items: center;
    }
    .mainRestaurantArticle ul > li {
        display: flex;
        align-items: flex-start;
        column-gap: 1vw;
        color: var(--inputColor);
    }
    .mainRestaurantArticle figcaption img {
        width: 13px;
        height: 13px;
        color: var(--inputColor);
    }
    .mainRestaurantArticle ul > li:nth-child(2) {
        width: 5px;
        height: 5px;
        background-color: var(--inputColor);
        border-radius: 50%;
    }
    /* Footer */
    .mainFooter {
        margin-top: 4vh;
        background-color: rgb(91, 90, 90);
        color: white;
        padding: 8% 6%;
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
        bottom: 0;
    }
    .mainFooter > section {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }
    .mainFooter > section > h4 {
        font-size: 20px;
        font-weight: 700;
    }
    .mainFooter > section > ul {
        display: flex;
        column-gap: 3vw;
    }
    .mainFooter > section a {
        font-size: 18px;
        color: white;
    }
    .mainFooter > section a:hover {
        color: var(--hoverColor);
        cursor: pointer;
    }
    .mainFooter > article {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }
    .mainFooter > article span {
        color: gainsboro;
    }
    /* Page Btn */
    .pageBtn {
        display: flex;
        width: 100%;
        justify-content: center;
        column-gap: 9vw;
    }
}
@media (min-width: 700px) {
    /* Header */
    .mainHeader {
        height: 5vh;
        padding: 1% 4%;
        justify-content: space-between;
    }
    .mainHeader > figure {
        width: 110px;
    }
    .mainHeader > .headerSection {
        column-gap: 3vw;
    }
    /* .headerSection figure, */
    .headerSection figure > a {
        row-gap: 0.5vh;
    }
    .headerSection img {
        width: 22px;
    }
    .headerSection figcaption {
        display: block;
        font-size: 12px;
    }
    .headerSection a {
        color: black;
    }
    /* Nav */
    .mainNav {
        padding: 1% 3%;
    }
    .mainNav li {
        padding: 2% 3%;
    }
    .mainNav img {
        width: 26px;
    }
    .mainNav a > p {
        font-size: 15px;
    }
    /* Adv */
    .mainAdv {
        background-position: center;
        height: 30vh;
    }
    .mainAdv > article {
        row-gap: 2.5vh;
    }
    .mainAdv > article > h3 {
        font-size: 40px;
    }
    .mainAdv > article > p {
        font-size: 20px;
        text-align: center;
    }
    .mainAdv > img {
        width: 20%;
    }
    /* Restaurant */
    .mainRestaurant {
        row-gap: 2vh;
    }
    .mainRestaurant > h3 {
        font-size: 25px;
    }
    .mainRestaurant figure > img {
        width: 43vw;
        height: 25vw;
    }
    .mainRestaurantArticle {
        gap: 4vw;
    }
    .mainRestaurantArticle h4 {
        font-size: 20px;
    }
    .mainRestaurantArticle ul > li {
        display: flex;
        align-items: flex-start;
        column-gap: 1vw;
        color: var(--inputColor);
    }
    .mainRestaurantArticle figcaption img {
        width: 13px;
        height: 13px;
        color: var(--inputColor);
    }
    .mainRestaurantArticle ul > li:nth-child(2) {
        width: 5px;
        height: 5px;
        background-color: var(--inputColor);
        border-radius: 50%;
    }
    /* Footer */
    .mainFooter {
        margin-top: 3vh;
        padding: 5% 3% 2%;
        row-gap: 4vh;
    }
    .mainFooter > section > h4 {
        font-size: 18px;
    }
    .mainFooter > section > ul {
        column-gap: 2vw;
    }
    .mainFooter > article {
        flex-direction: row;
        column-gap: 2vw;
        justify-content: space-between;
    }
    /* Page Btn */
    .pageBtn {
        padding-top: 4vh;
        column-gap: 5vw;
    }
}
@media (min-width: 1000px) {
    /* Header */
    .mainHeader {
        padding: 1% 6%;
    }
    .mainHeader > figure {
        width: 140px;
    }
    .mainHeader > .headerSection {
        column-gap: 2vw;
    }
    .headerSection img {
        width: 25px;
    }
    .headerSection figcaption {
        font-size: 15px;
    }
    /* .headerSection a {
        padding: 2%;
        border-radius: 10px;
    } */
    /* Nav */
    .mainNav {
        padding: 0.5%;
    }
    .mainNav > ul {
        justify-content: space-evenly;
        width: 85%;
    }
    .mainNav li {
        padding: 1%;
    }
    .mainNav img {
        width: 23px;
    }
    /* Adv */
    .mainAdv {
        background-position: center;
        height: 35vh;
    }
    .mainAdv > article > h3 {
        font-size: 45px;
    }
    .mainAdv > article > p {
        font-size: 22px;
        text-align: center;
    }
    .mainAdv > img {
        width: 16%;
    }
    /* Restaurant */
    .mainRestaurant > h3 {
        font-size: 28px;
    }
    .mainRestaurant figure > img {
        width: 27vw;
        height: 16vw;
    }
    .mainRestaurantArticle h4 {
        font-size: 22px;
    }
    .mainRestaurantArticle ul {
        column-gap: 1vw;
    }
    .mainRestaurantArticle ul > li:nth-child(2) {
        width: 5px;
        height: 5px;
        background-color: var(--inputColor);
        border-radius: 50%;
    }
    .mainRestaurantArticle ul > li:last-child {
        column-gap: 0.5vw;
    }
    /* Footer */
    .mainFooter {
        padding: 3%;
        row-gap: 6vh;
    }
    .mainFooter > section {
        align-items: center;
        row-gap: 2vh;
    }
    .mainFooter > section > h4{
        font-size: 20px;
    }
    .mainFooter > section > ul {
        column-gap: 2vw;
    }
    .mainFooter > article {
        flex-direction: row;
        column-gap: 2vw;
        justify-content: space-between;
    }
    /* Page Btn */
    .pageBtn {
        column-gap: 3vw;
    }
}
