@media (min-width: 300px) {
    /* Header */
    .mainHeader {
        background-color: var(--mainColor);
        height: 7vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mainHeader > figure {
        width: 120px;
    }
    .mainHeader > figure > img {
        width: 100%;
    }
    .mainHeader > .headerSection {
        display: flex;
        width: 40%;
        column-gap: 4vw;
        justify-content: flex-end;
    }
    .headerSection > figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerSection > figure:hover {
        cursor: pointer;
    }  
    .headerSection img {
        width: 24px;
    }
    .headerSection figcaption {
        display: none;
    }
    /* Nav */
    .mainNav {
        display: flex;
        justify-content: center;
        padding: 3% 5%;
    }
    .mainNav > ul {
        white-space:nowrap; 
        overflow-x: auto;
        display: flex;
        width: 100%;
    }
    .mainNav li {
        padding: 3%;
    }
    .mainNav img {
        width: 24px;
    }
    .mainNav a {
        display:flex; 
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
    }
    .mainNav a > p {
        color: black;
        font-size: 13px;
    }
}
@media (min-width: 700px) {
    /* Header */
    .mainHeader {
        height: 5vh;
        padding: 1% 4%;
        justify-content: space-between;
    }
    .mainHeader > figure {
        width: 110px;
    }
    .mainHeader > .headerSection {
        column-gap: 3vw;
    }
    .headerSection > figure {
        row-gap: 0.5vh;
    }
    .headerSection img {
        width: 22px;
    }
    .headerSection figcaption {
        display: block;
        font-size: 12px;
    }
    /* Nav */
    .mainNav {
        padding: 1% 3%;
    }
    .mainNav li {
        padding: 2% 3%;
    }
    .mainNav img {
        width: 26px;
    }
    .mainNav a > p {
        font-size: 15px;
    }
}
@media (min-width: 1000px) {
    /* Header */
    .mainHeader {
        padding: 1% 6%;
    }
    .mainHeader > figure {
        width: 140px;
    }
    .mainHeader > .headerSection {
        column-gap: 2vw;
    }
    .headerSection img {
        width: 25px;
    }
    .headerSection figcaption {
        font-size: 15px;
    }
    /* Nav */
    .mainNav {
        padding: 0.5%;
    }
    .mainNav > ul {
        justify-content: space-evenly;
        width: 85%;
    }
    .mainNav li {
        padding: 1%;
    }
    .mainNav img {
        width: 23px;
    }
}